<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="left">
    <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="index.html">
                <h3>GDOU</h3>
            </a>
            <div class="iq-menu-bt-sidebar">
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                        <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content"><div class="scroll-content">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>管理面板</span></li>
                    <li th:class="${(activeUrl=='studnet')?'active':''}">
                        <a th:href="@{#ui-students}" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pencil-ruler-line"></i><span>学生管理</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="ui-students" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li th:class="${Url=='list'?'active':''}"><a th:href="@{/student/list}"><i class="ri-font-color"></i>学生信息</a></li>
                            <li th:class="${Url=='dorm'?'active':''}"><a th:href="@{/dorm/list}"><i class="ri-text"></i>宿舍信息</a></li>
                        </ul>
                    </li>
                    <li th:class="${(activeUrl=='course')?'active':''}">
                        <a th:href="@{#tables}" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-table-line"></i><span>课程管理</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="tables" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                            <li th:class="${Url=='course/list'?'active':''}"><a th:href="@{/course/list}"><i class="ri-table-line"></i>课程信息</a></li>
                            <li th:class="${Url=='grade/list'?'active':''}"><a th:href="@{/grade/list}"><i class="ri-database-line"></i>选课信息</a></li>
                        </ul>
                    </li>
                    <li th:class="${(activeUrl=='score')?'active':''}">
                        <a th:href="@{#score}" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line"></i><span>成绩查询</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="score" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                            <li th:class="${Url=='score/allList'?'active':''}"><a th:href="@{/score/allList}"><i class="ri-file-chart-line"></i>学科排名</a></li>
                            <li th:class="${Url=='score/personalList'?'active':''}"><a th:href="@{/score/personalList}"><i class="ri-bar-chart-line"></i>学生个人成绩信息</a></li>
                            <li th:class="${Url=='score/pointList'?'active':''}"><a th:href="@{/score/pointList}"><i class="ri-folder-chart-line"></i>专业绩点排名</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 260px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 140.957px; transform: translate3d(0px, 0px, 0px);"></div></div></div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 260px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 156.462px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
    </div>
</div>
</body>
</html>